<footer id="footer" class="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>XuanNA</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://unsplash.com/@ngctrngnh">XuanNA</a>
        </div>
    </div>
</footer>
