<main id="main">

    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Services</h2>
                    <p>Let's find out!</p>

                    <a class="cta-btn" href="contact">Available for hire</a>

                </div>
            </div>
        </div>
    </div>

    <section id="services" class="services">
        <div class="container">

            <div class="row gy-4">

                <div class="col-xl-3 col-md-6 d-flex">
                    <div class="service-item position-relative">
                        <i class="bi bi-activity"></i>
                        <h4><a href="" class="stretched-link">Ưu điểm 1</a></h4>
                        <p>Nghĩ mãi chưa ra cái còn ten này!</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex">
                    <div class="service-item position-relative">
                        <i class="bi bi-bounding-box-circles"></i>
                        <h4><a href="" class="stretched-link">Ưu điểm 2</a></h4>
                        <p>Nghĩ mãi chưa ra cái còn ten này!</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex">
                    <div class="service-item position-relative">
                        <i class="bi bi-calendar4-week"></i>
                        <h4><a href="" class="stretched-link">Ưu điểm 3</a></h4>
                        <p>Nghĩ mãi chưa ra cái còn ten này!</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex">
                    <div class="service-item position-relative">
                        <i class="bi bi-broadcast"></i>
                        <h4><a href="" class="stretched-link">Ưu điểm 4</a></h4>
                        <p>Nghĩ mãi chưa ra cái còn ten này!</p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section id="pricing" class="pricing">
        <div class="container">

            <div class="section-header">
                <h2>Prices</h2>
                <p>Check my adorable pricing</p>
            </div>

            <div class="row gy-4 gx-lg-5">

                <div class="col-lg-6">
                    <div class="pricing-item d-flex justify-content-between">
                        <h3>Type 1</h3>
                        <h4>$160.00</h4>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="pricing-item d-flex justify-content-between">
                        <h3>Type 2</h3>
                        <h4>$300.00</h4>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="pricing-item d-flex justify-content-between">
                        <h3>Type 3</h3>
                        <h4>$200.00</h4>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="pricing-item d-flex justify-content-between">
                        <h3>Type 4</h3>
                        <h4>$120.00</h4>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="pricing-item d-flex justify-content-between">
                        <h3>Type 5</h3>
                        <h4>$500.00</h4>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="pricing-item d-flex justify-content-between">
                        <h3>Type 6</h3>
                        <h4>$200.00</h4>
                    </div>
                </div>

            </div>
    </section>

</main>
